
html {
  scroll-behavior: smooth;
}
body > header{
  background-image:none;
  margin: 6rem 0 2rem 0;
  padding: 2rem;
}
body > header h1{
  font-size: 2.4em;
  line-height: 120%;
  font-weight: bold;
  margin-bottom: 0.5em;
}
main > section > h2:first-of-type{
  font-weight: bold;
  color: var(--blueberry);
  background-color: var(--turquoise);
  margin: 0;
  padding-left: 0;
}
main > section > h2:first-of-type::before, main > section > h2:first-of-type::after{
  background-color: var(--turquoise);
  box-shadow: 0 calc(-1*var(--rounded))0 0 var(--turquoise);
}
main > section h3{
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 2.5em;
  margin-bottom: 0.5em;
}
main > section h4{
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}



figure{
  position:relative;
}
figcaption{
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
  padding: 1em;
  background-color: var(--turquoise);
  color: var(--blueberry);
  border-radius: var(--rounded);
}
body:before, body:after{
  left: 2rem;
}


@media (max-width: 30em) {
  body > header{
    padding: 1rem;
  }
  main > section{
    padding: 1rem;
  }
  figcaption{
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;

  }
  body > header h1{
    font-size: 2em;
  }
  body:before, body:after{
    transform: scale(.7);
    left: -3rem;
  }
}
@media (max-width: 25em) {
  body > header h1{
    font-size: 1.6em;
  }
  figure{
    margin: 1rem -1rem;
  }
}
@media (max-width: 22em) {
  body > header h1{
    font-size: 1.4em;
  }
}
