body > header{
  background-image:none;
  margin: 6rem 0 2rem 0;
  padding: 2rem;
}
body > header h1{
  font-size: 2.4em;
  line-height: 120%;
  font-weight: bold;
  margin-bottom: 0.5em;
}
main > section h3{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
figure{
  position:relative;
}
figcaption{
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
  padding: 1em;
  background-color: var(--turquoise);
  color: var(--blueberry);
  border-radius: var(--rounded);
}
@media (max-width: 30em) {
  html{
    overflow-x: hidden;
  }
  figure{
    margin: 1em -1.5em;
  }
  figcaption{
    margin: 0.5em;
    padding: 0.5em;s
  }
}